---
title: sgns::neoswarm::knowledge::FactValidation::ValidationResult

---

# sgns::neoswarm::knowledge::FactValidation::ValidationResult






`#include <fact_validation.hpp>`

## Public Attributes

|                | Name           |
| -------------- | -------------- |
| bool | **[passed_](/source-reference/Classes/df/dd5/structsgns_1_1neoswarm_1_1knowledge_1_1_fact_validation_1_1_validation_result/#variable-passed-)**  |
| float | **[m_contradictionScore](/source-reference/Classes/df/dd5/structsgns_1_1neoswarm_1_1knowledge_1_1_fact_validation_1_1_validation_result/#variable-m-contradictionscore)**  |
| std::vector< std::string > | **[m_contradictions](/source-reference/Classes/df/dd5/structsgns_1_1neoswarm_1_1knowledge_1_1_fact_validation_1_1_validation_result/#variable-m-contradictions)**  |
| std::string | **[suggestion_](/source-reference/Classes/df/dd5/structsgns_1_1neoswarm_1_1knowledge_1_1_fact_validation_1_1_validation_result/#variable-suggestion-)**  |

## Public Attributes Documentation

### variable passed_

```cpp
bool passed_ = true;
```


### variable m_contradictionScore

```cpp
float m_contradictionScore = 0.0f;
```


### variable m_contradictions

```cpp
std::vector< std::string > m_contradictions;
```


### variable suggestion_

```cpp
std::string suggestion_;
```


-------------------------------

Updated on 2026-06-28 at 13:58:22 -0700